* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

}

header {
    background-color: #9B51E0;
    height: 300px;

}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8E008E;
    height: 30px;
    font-size: 15px;
    color: white;
    font-family: Poppins;
}

h2 {
    color: #9B51E0;
    font-size: 18px;
    font-family: Poppins;
    border-bottom: 2px solid;
    line-height: 30px;
    margin-bottom: 1px;
}

.sobre {
    font-size: 20px;
    margin-top: 15px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.btn {
    color: white;
    background-color: rgb(140, 29, 219);
    margin-top: 5px;
    font-size: 15px;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.btn:hover {
    background-color: green;
}


h3 {
    color: #9B51E0;
    font-size: 18px;
    font-family: Poppins;
    border-bottom: 2px solid;
    line-height: 30px;
}

.time {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    /* Centraliza os itens */
    gap: 30px;
    /* Adiciona espaçamento entre os grupos */
}

.circulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os textos e o círculo */
}

.circulo {
    width: 80px;
    height: 80px;
    background-color: #9B51E0;
    border-radius: 50%;
    animation: girarEColorir 3s linear infinite;
}

@keyframes girarEColorir {
    0% {
        transform: rotate(0deg);
        background-color: #9B51E0;
    }

    50% {
        background-color: #FF5733;
        /* Nova cor no meio da animação */
    }

    100% {
        transform: rotate(360deg);
        background-color: #9B51E0;
        /* Volta à cor original */
    }
}


.circulos p {
    margin-top: 5px;
    color: #9B51E0;
    font-size: 16px;
    font-weight: bold;
}

.section-1 {
    margin-top: 30px;
}

.section-2 {
    margin-top: 20px;
}


.section-1,
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8E008E;
    margin-top: 50px;
    height: 50px;
}

footer p {
    font-size: 12px;
    color: white;
}


header {
    background-color: #9B51E0;
    height: 300px;

}

/* Respansividade telas menores */

@media (max-width: 600px) {


    header {
        height: 150px;
        /* Reduz a altura para melhor adaptação */
        padding: 10px;
        /* Menos espaço interno */
    }

    h1 {
        font-size: 16px;
        /* Ajusta o tamanho do texto */
        text-align: center;
        /* Centraliza o título */
    }


    .time {

        gap: 20px;
    }

    .btn {
        color: white;
        background-color: rgb(140, 29, 219);
        margin-top: 5px;
        font-size: 15px;
        border-radius: 10px;
        height: 30px;
        width: 100px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #8E008E;
        margin-top: 30px;
        height: 30px;
    }


    footer p {
        font-size: 16px;
        color: white;
    }


}